@model gestion_pharma.Models.Entities.Parapharmacien

@{
    ViewData["Title"] = "Supprimer parapharmacien";
}

<h1>Supprimer</h1>

<h3>Êtes-vous sûr de vouloir supprimer ce parapharmacien ?</h3>

<dl class="row">
    <dt class="col-sm-2">Nom</dt>
    <dd class="col-sm-10">@Model.Nom @Model.Prenom</dd>

    <dt class="col-sm-2">Email</dt>
    <dd class="col-sm-10">@Model.Email</dd>
</dl>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Supprimer</button>
    <a asp-action="Index" class="btn btn-secondary">Annuler</a>
</form>
